<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div>
    <h2>User Login</h2>

    <form method="POST">
        {%csrf_token%}
        {%if messages%}
            {%for msg in messages%} 
                <h4><strong>{{msg}}</strong></h4>    
            {%endfor%}
        {%endif%}    
        <label><h4>User Name</h4></label>
        <h4><input type="text" name="uname" placeholder="John Doe" required/></h4>
        <label><h4>Password</h4></label>
        <h4><input type="password" name="pwd" placeholder="Password" required/></h4>
        <h4><button type="submit">Login</button></h4>
    </form>
</div>

    
</body>
</html>